[Desktop Entry]
Type=Application
Name=JIM
GenericName=JIM Invoice Manager
Version=0.2.0
Comment=Invoicing and Management for SMBs
Icon=/usr/share/pixmaps/jim.png
Exec=jim
Terminal=false
Categories=Qt;Office;Finance;Economy;

# Translations
GenericName[es]=Gestor de Facturas JIM
Comment[es]=Facturacion y Gestion para PYMEs
