[Desktop Entry]
Type=Application
Name=TIM
GenericName=TIM Invoice Manager
Version=0.1.1
Comment=Invoicing and Management for SMBs
Icon=/usr/share/pixmaps/tim.png
Exec=tim
Terminal=false
Categories=Qt;Office;Finance;Economy;

# Translations
GenericName[es]=Gestor de Facturas TIM
Comment[es]=Facturacion y Gestion para PYMEs
